@import "tailwindcss";

:root {
  --background: #F7F6F2;
  --foreground: #025F67;
  --accent-color: #063154;
  --accent-secondary-color: #BCC5CC;
  --accent-tertiary-color: #2F9D94;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Universal box-sizing for predictable layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
html,
body {
  margin: 0;
  padding: 0;
}

/* Set consistent font rendering for all browsers */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* Prevent mobile browsers from resizing text */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
  scroll-behavior: smooth;
}

/* Ensure body takes full viewport height */
body {
  background: var(--background);
  color: #0b0b0b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

/* Remove tab highlight on mobile */
a, button {
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.green-shade-bg {
  background-color: var(--foreground);
}

.white-shade-text {
  color: var(--accent-secondary-color);
}

.text-highlight {
  color: var(--accent-color);
}

.text-accent {
  color: var(--accent-tertiary-color);
}

.blue-shade-bg {
  background-color: var(--accent-color);
}

.text-white-background {
  color: var(--background);
}

.contact-button {
  position: relative;
  display: inline-flex;
  background: linear-gradient(
    to right,
    var(--accent-color) 0%,
    var(--accent-color) 100%
  );
  background-size: 200% auto;
  border-radius: 100px;
  color: var(--background);
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  text-transform: capitalize;
  border: none;
  padding: 17px 20px 17px 20px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}